<p id="notice"><%= notice %></p>

<p>
  <b>Camis:</b>
  <%= @restaurant.camis %>
</p>

<p>
  <b>Dba:</b>
  <%= @restaurant.dba %>
</p>

<p>
  <b>Boro:</b>
  <%= @restaurant.boro %>
</p>

<p>
  <b>Building:</b>
  <%= @restaurant.building %>
</p>

<p>
  <b>Street:</b>
  <%= @restaurant.street %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @restaurant.zipcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Cuisinecode:</b>
  <%= @restaurant.cuisinecode %>
</p>

<p>
  <b>Inspdate:</b>
  <%= @restaurant.inspdate %>
</p>

<p>
  <b>Action:</b>
  <%= @restaurant.action %>
</p>

<p>
  <b>Violcode:</b>
  <%= @restaurant.violcode %>
</p>

<p>
  <b>Score:</b>
  <%= @restaurant.score %>
</p>

<p>
  <b>Currentgrade:</b>
  <%= @restaurant.currentgrade %>
</p>

<p>
  <b>Gradedate:</b>
  <%= @restaurant.gradedate %>
</p>

<p>
  <b>Recorddate:</b>
  <%= @restaurant.recorddate %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
