<h1>Listing client_users</h1>

<table>
  <tr>
    <th>Account name</th>
    <th>Name</th>
    <th>Password</th>
    <th>Gender</th>
    <th>Birthday</th>
    <th>Zipcode</th>
    <th>Address</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @client_users.each do |client_user| %>
  <tr>
    <td><%= client_user.account_name %></td>
    <td><%= client_user.name %></td>
    <td><%= client_user.password %></td>
    <td><%= client_user.gender %></td>
    <td><%= client_user.birthday %></td>
    <td><%= client_user.zipcode %></td>
    <td><%= client_user.address %></td>
    <td><%= client_user.phone %></td>
    <td><%= link_to 'Show', client_user %></td>
    <td><%= link_to 'Edit', edit_client_user_path(client_user) %></td>
    <td><%= link_to 'Destroy', client_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client user', new_client_user_path %>
